{% load static %}

<html>
    <head>
        <title>LAZAPEE APP</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: lightseagreen; height: 60px;">
            <div class="container-fluid" style="display: flex; justify-content: initial;">
                <span>
                    <b style="color:#334B49; font-size: 24px;" >LAZAPEE Payroll</b>
                </span>
                <span>
                    <a href = "{% url 'employees'%}" style="text-decoration: none; color:white; margin: 10px; font-size:16px; margin-left:30px;">Employees </a>
                    <a href = "{% url 'payslips'%}" style="text-decoration: none; color:white; margin: 10px; font-size:16px;">Payslips</a>
                </span>
            </div>
        </nav>




        <div class="container">
            <div class = "row">
                {% block content %}
                {% endblock %}
            </div>   
        </div>
        
        <footer class="footer bg-custom" style="background-color: lightseagreen; position: fixed;">

            <!-- Copyright -->
            <div class="container">
                <p style="color:white; text-align: center;">&copy; 2023</p>
            </div>
            <!-- Copyright -->
          
        </footer>

    </body>
</html>