{% extends 'payroll_app/base.html' %}

{% block content %}
<h1>TEST</h1>
<p>Month no.: {{b}}</p>
<p>Status: {{d}}</p>
<p>Leap Status: {{l}}</p>
<p>Day range: {{r}}</p>
<p>All test: {{c}}</p>
<p>All test2: {{d}}</p>
<p>Pass test: {{inp_test}}</p>




<p>Payslip test: {{ptest}}</p>

<div>
<table class="table table-striped">
    <thead class = "table-dark">
        <tr>
            <th scope = "col"> ID number </th>
            <th scope = "col"> Date </th>
            <th scope = "col"> Cycle </th>
            <th scope = "col"> Total Pay </th>
            <th scope = "col"> Options </th>
        </tr>
    </thead>
    <tbody>
        {% for e in ptest %}
        <tr>
            
            <td> {{e.getIDNumber.getID}} </td>
            <td> {{e.getMonth}} </td>
            <td> {{e.getPay_cycle}} </td>
            <td> {{e.getTotal_pay}} </td>
            <td> <a class="btn btn-primary" href="{% url 'view_payslip' pk=e.pk %}">Test</button> </a>
        
            
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}