{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}
<div class = "col-10 mx-auto" >

    <!--Employee Info-->
    <div class = "row">
        <div class = "col">Name: {{d.getIDNumber.getName}}</div>
        <div class = "col" style="text-align: right;">Date: {{d.getMonth}} {{d.getDate_range}}, {{d.getYear}}</div>
    </div>

    <div class = "row pb-4">
        <div class = "col">ID: {{d.getIDNumber.getID}}</div>
        <div class = "col" style="text-align: right;">Payslip ID: {{d.pk}}</div>
    </div>

    <div class = "row">
       <div class = "col"></div>
       <div class = "col" style="text-align:center"><b>AMOUNT</b></div>
    </div>

    <!--EARNINGS-->
    <div class = "row">
        <div class = "col pb-2"><b>EARNINGS:</b></div>
        <div class = "col"></div>
    </div>

    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> Base Pay:</div>
        <div class = "col" >{{d.getCycleRate|floatformat:2}}</div>
    </div>

    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> Allowances:</div>
        <div class = "col" >{{d.getEarnings_allowance|floatformat:2}}</div>
    </div>

    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> Overtime:</div>
        <div class = "col" >{{d.getOvertime|floatformat:2}}</div>
    </div>

    <div class = "row">
        <div class = "col pb-2"><hr></div>
        <div class = "col pb-2"><hr></div>
    </div>

    <div class = "row">
        <div class = "col pb-4" style = "margin-left: 1.5rem;"><b>GROSS PAY</b></div>
        <div class = "col pb-4" style="text-align:center"><b>PHP {{earnings|floatformat:2}}</b></div>
    </div>

    <div class = "row" style = "margin-left: 0.09rem; margin-right: 0.09rem;">
        <hr>
    </div>

    <!--DEDUCTIONS-->
    <div class = "row">
        <div class = "col pb-2"><b>DEDUCTIONS:</b></div>
        <div class = "col"></div>
    </div>

    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> W/HOLDING </div>
        <div class = "col" >{{d.getDeductions_tax|floatformat:2}}</div>
    </div>
    {% if d.getPag_ibig == 0 %}
    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> PHILHEALTH </div>
        <div class = "col" >{{d.getDeductions_health|floatformat:2}}</div>
    </div>

    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> SSS </div>
        <div class = "col" >{{d.getSSS|floatformat:2}}</div>
    </div>

    {% else %}
    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem;"> PAG-IBIG </div>
        <div class = "col" >{{d.getPag_ibig}}</div>
    </div>
    {% endif %}

    <div class = "row">
        <div class = "col pb-2"></div>
        <div class = "col pb-2"><hr></div>
    </div>

    <div class = "row">
        <div class = "col pb-4" style = "margin-left: 1.5rem;"><b>TOTAL DEDUCTIONS</b></div>
        <div class = "col pb-4" style="text-align:center"><b>PHP {{deductions|floatformat:2}}</b></div>
    </div>

    <div class = "row" style = "margin-left: 0.09rem; margin-right: 0.09rem;">
        <hr>
    </div>

     <!--NET PAY-->
    <div class = "row">
        <div class = "col" style = "margin-left: 1.5rem; font-size: 22px;"><b>NET PAY</b></div>
        <div class = "col" style = "text-align: center; font-size: 22px;" ><b>PHP {{d.getTotal_pay}}</b></div>
    </div>
    <div style="display: flex; justify-content: right; margin-right: 1rem; margin-top: 4rem;">
        <a href = "{% url 'payslips'%}" class = "btn btn-primary"> Back </a>
    </div>
</div>

{% endblock %}